/* General Styles for Freeside */

.field-name {
  text-align: right;
}

/**
 * Login page styles
 */
#login-form {
  margin-top: 1em;
}

#login .container {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#login .field {
  clear: left;
  text-align: right;
  width: 20em;
}

#login .label {
  text-align: right;
}

/**
 * Generic page styles
 */

.center {
  text-align: center;
}

.clear {
  clear: both;
}

#header {
  padding: 0.5em;
}

#userbar {
  display: block;
  float: right;
  margin: 0;
  padding: 0;
}

#userbar ul {
  margin: 0;
  padding: 0;
}

#userbar li {
  display: inline;
}

#logoTxt {
  background-image: url("/images/freeside_txt.png");
  float: left;
  width: 240px;
  height: 35px;
}

#body {
  margin-top: 8px;
}

#body ul {
  list-style-position: inside;
}

#sidebar {
  float: left;
  width: 200px;
}

#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sidebar li {
  margin-left: 5px;
  z-index: 2;
}

#sidebar .selected {
  -moz-border-radius: 0.3em 0 0 0.3em;
  -webkit-border-radius: 0.3em 0 0 0.3em;
  background-color: #fafafa;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 1px 1px;
  font-weight: bold;
}

#sidebar a {
  border: 1px transparent;
  padding: .5em;
  display: block;
}

#member-content {
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  background-color: #fafafa;
  border: 1px solid #ccc;
  margin-left: 199px;
  min-height: 400px;
  padding: 1em;
  z-index: 4;
}

#member-content h1,
#member-content h2 {
  color: #870000;
}

.election {
  border: 2px solid #aaa;
  float: left;
  margin: 0.5em;
  text-align: center;
}

.election-body {
  clear: left;
  float: left;
  padding: 0.5em 0;
}

.election-header {
  background-color: #dfdfdf;
  border-bottom: 1px solid #aaa;
  clear: left;
  float: left;
  padding: 0.5em;
}

.election-header h2 {
  margin: 0;
}

/** TODO(dknowles): Make this default for all tables? */
#member-list-table {
  border-collapse: collapse;
  margin-bottom: 1em;
  width: 100%;
}

#member-list-table tbody {
  border-bottom: 2px solid #aaa;
}

#member-list-table tbody tr {
  border-bottom: 1px solid #ccc;
}

#member-list-table tbody td {
  height: 30px;
}

#member-list-table td {
  padding: 0.25em 0.5em;
}

#member-list-table thead {
  background-color: #dfdfdf;
  border-top: 2px solid #aaa;
  border-bottom: 1px solid #aaa;
  font-weight: bold;
}



#profile-details {
  margin-top: 15px;
}

#profile-details .profile-item {
  padding-top: 4px;
  padding-bottom: 4px;
}

#profile-details .profile-label {
  color: #404040;
  font-weight: bold;
  text-align: right;
  width: 170px;
  display: inline;
}

#profile-details .profile-input,
#profile-details .profile-data {
  padding-left: 10px;
  display: inline;
}

