/* General Styles for Freeside */

* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #E8E8E8;
  font-family:Arial,Sans-serif;
}

#header{
  background-color: #FFFFFF;
  display:block;
  padding:10px 10px;
  height:35px;
  min-height:35px;
  border-bottom-style:solid;
  border-bottom-width:2px;
}

#navbar{
  display:block;
  float:right;
  padding:0px;
  margin:0px;
}

#navbar ul{
  margin:0px;
  padding:0px;
}

#navbar li{
  display:inline;
}

#logo_txt{
  background-image:url('images/freeside_txt.png');
  float:left;
  width:240;
  height;35;
}

#body{
  margin-top: 8px;
}

#body ul{
  list-style-position: inside;
}

#sidebar{
  float:left;
}

#sidebar ul{
  width: 100px;
  list-style: none;
  display: block;
  margin: 0px;
  padding: 0px;
}

#sidebar li{
  margin-left: 5px;
}

#sidebar a.selected{
  border: 1px solid;
  border-right: 1px transparent;
  background-color:#D0D0D0;
  border-right: 1px transparent;
}

#sidebar a{
  border: 1px transparent;
  padding: .5em;
  display: block;
  text-align: center;
}

#content {
  border: 1px solid;
  background-color:#D0D0D0;
  min-height: 400px;
  padding: 8px;
  margin-left: 99px;
  margin-right: 8px;
}

#election{
  float: left;
  border: 2px solid;
  margin: 5px;
  text-align:center;
}

#election ul{
  list-style: none;
}

#election #title{
  background-color: #E8E8E8;
  display: block;
  border-bottom: 1px solid;
  padding: 5px;
}

#member-list{
  display: block;
  margin-top: 15px;
}

#member-list table{
  width: 100%;
  border-collapse: collapse;
}

#member-list table tbody tr{
  border-bottom: 1px solid;
  border-top: 1px solid;
}

#member-list table tbody td{
  height: 30px;
}

#member-list td.username{
  padding-left: 15px;
}

#profile-details {
  margin-top: 15px;
}

#profile-details .profile-item{
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
}

#profile-details .profile-label {
  color: #404040;
  font-weight: bold;
  text-align: right;
  width: 170px;
  display: inline;
}

#profile-details .profile-input,.profile-data{
  padding-left: 10px;
  display: inline;
}

