<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>{% block title %}Freeside Members Page{% endblock %}</title>
  <script type="text/javascript" src="/scripts/freeside.js"></script>
</head>

<body>
  <div id="header">
    <div id="logo_txt">
      <a href="/home"><img src="/images/freeside_txt.png"/></a>
    </div>
    <div id="navbar">
      <ul>
        <li>Welcome, <a href="/members/{{ user.username }}">
          {{ user.username }}</a></li> <b>|</b>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
  <div id="body">
    <div id="sidebar">
      <ul>
        {% for page in sidebar %}
        <li><a href="{{ page.path|urlencode }}"{% if page.selected %} class="selected"{% endif %}>{{ page.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </div>
  <div id="footer">
  </div>
</body>
</html>
