{% extends "base.html" %}

{% block container %}
  <div id="login">
    <form action="/login" method="post"/>
      <div class="container">
        <img alt="Freeside Atlanta" src="images/freeside_login.png">

        {% for error in errors %}
          <div class="error">{{ error }}</div>
        {% endfor %}

        <table id="login-form">
          <tr>
            <td class="label"><label for="username">Login:</label></td>
            <td><input type="text" id="username" name="username"/></td>
          </tr>
          <tr>
            <td class="label"><label for="password">Password:</label></td>
            <td><input type="password" id="password" name="password"/></td>
          </tr>
          <tr>
            <td></td>
            <td><input type="submit" value="Login"/></td>
          </tr>
        </table>
      </div>
    </form>
  </div>
{% endblock container %}
