{% extends "base.html" %}

{% block title %}Freeside Members{% endblock %}

{% block content %}
  <h1>Current Members</h1>
  <div id="member-list">
    <table>
      <thead>
      <tr>
        <td class="username"><b>Username</b></td>
        <td class="email"><b>Email</b></td>
        <td class="membersince"><b>Member Since</b></td>
      </tr>
      </thead>
      <tbody>
      {% for member in members %}
      <tr>
        <td class="username"><a href="/members/{{ member.username|urlencode }}">
            {{ member.username }}</a></td>
        <td class="email"><a href="mailto:{{ member.email|urlencode }}">{{ member.email }}</a></td>
        <td class="membersince">{{ member.joined }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
