{% extends "base.html" %}

{% block title %}Members{% endblock %}

{% block content %}
  <h1>Current members</h1>
  <table id="member-list-table">
    <thead>
      <tr>
        <td>Username</td>
        <td>Email</td>
        <td>Member since</td>
      </tr>
    </thead>
    <tbody>
    {% for member in members %}
      <tr>
        <td><a href="/members/{{ member.username|urlencode }}">
            {{ member.username }}</a></td>
        <td><a href="mailto:{{ member.email|urlencode }}">{{ member.email }}</a></td>
        <td>{{ member.joined }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% if admin %}
    <div class="center">
      <a href="/admin?task=AddMember">Add member</a>
    </div>
  {% endif %}
{% endblock %}
