{% extends "base.html" %}

{% block title %}Freeside Voting Page{% endblock %}

{% block content %}
  <h1>Elections</h1>
  {% for nomination in nominating %}
    <div id="election">
      <div id="title">
        <h2>{{ nomination.election.position }}</h2>
        Status: <b style="color:#A00000">Nominating</b><br/>
        Nominations Close: {{ nomination.nominate_end|date:"M d," }}
        {{ nomination.nominate_end|time:"h:i A" }}
      </div>
      <b>Nominees:</b><br/>
        <ul>
        {% for nominee in nomination.nominees %}
          <li>{{ nominee.username }}</li>
        {% endfor %}
        </ul>
      {% if not nomination.has_nominated %}
      <form action="/elections" method="post">
        <input type="hidden" name="election" value="{{ nomination.election.key }}"/>
          <select name="nomination">
            {% for member in nomination.eligible %}
            <option value="{{ member.key }}">{{ member.username }}</option>
            {% endfor %}
          </select>
          <input type="submit" value="Nominate"/>
      </form>
      {% endif %}
    </div>
  {% endfor %}

  {% for vote in voting %}
    <div id="election">
      <div id="title">
        <h2>{{ vote.election.position }}</h2>
        Status: <b style="color:#A00000">Voting</b><br/>
        Votes Close: {{ vote.vote_end|date:"M d," }}
        {{ vote.vote_end|time:"h:i A" }}
      </div>
      <b>Nominees:</b><br/>
        <ul>
        {% for nominee in vote.eligible %}
          <li>{{ nominee.username }}</li>
        {% endfor %}
        </ul>
      {% if not vote.has_voted %}
      <form action="/elections" method="post">
        <input type="hidden" name="election" value="{{ vote.election.key }}"/>
          <select name="vote">
            {% for member in vote.eligible %}
            <option value="{{ member.key }}">{{ member.username }}</option>
            {% endfor %}
          </select>
          <input type="submit" value="Vote"/>
      </form>
      {% endif %}
    </div>
  {% endfor %}

  {% for vote in ended %}
    <div id="election">
      <div id="title">
        <h2>{{ vote.election.position }}</h2>
        Status: <b style="color:#A00000">Ended</b><br/>
        Voting Ended: {{ vote.vote_end|date:"M d," }}
        {{ vote.vote_end|time:"h:i A" }}
      </div>
      <b>Totals:</b><br/>
        <ul>
        {% for member in vote.totals %}
          <li>{{ member }}:  {{ vote.totals.member }}</li>
        {% endfor %}
        </ul>
    </div>
  {% endfor %}
{% endblock %}
